[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "proteobench"
authors = [{name = "Robbin Bouwmeester", email = "robbin.bouwmeester@ugent.be"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["version", "description"]

[project.urls]
Home = "https://github.com/RobbinBouwmeester"
"Homepage" = "https://github.com/RobbinBouwmeester/"
"Bug Tracker" = "https://github.com/RobbinBouwmeester/"