@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

html {
    --pst-font-family-base: 'Open Sans', sans-serif;
    --pst-font-family-heading: 'Roboto Slab', serif;
    --pst-font-weight-heading: 500;
}

/* html[data-theme="light"] {
    --pst-color-primary: #3b5880;
}

html[data-theme="dark"] {
    --pst-color-primary: #5c87c2;
}

a:visited {
    color: var(--pst-color-link);
} */
