[[pages]]
path = "Home.py"
name = "Home"

[[pages]]
path = "pages/module_pages/quant_lfq_DDA_ion.py"
name = "DDA Quant Ion Level -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DDA_peptidoform.py"
name = "DDA Quant Peptidoform Level -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_AIF.py"
name = "DIA Quant Ion Level - AIF -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_diaPASEF.py"
name = "DIA Quant Ion Level - diaPASEF -BETA-"
