[[pages]]
path = "Home.py"
name = "Home"

[[pages]]
path = "pages/DDA_Quant_ion.py"
name = "DDA Quant Ion Level -BETA-"

 [[pages]]
 path = "pages/DDA_Quant_peptidoform.py"
 name = "DDA Quant Peptidoform Level -BETA-"

 [[pages]]
 path = "pages/DIA_Quant_ion.py"
 name = "DIA Quant Ion Level -BETA-"

 [[pages]]
 path = "pages/DIA_Quant_peptidoform.py"
 name = "DIA Quant Peptidoform Level -BETA-"
