[[pages]]
path = "Home.py"
name = "Home"

[[pages]]
path = "pages/module_pages/quant_lfq_DDA_ion.py"
name = "DDA Quant Precursor Level -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DDA_peptidoform.py"
name = "DDA Quant Peptidoform Level -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_AIF.py"
name = "DIA Quant Precursor Level - AIF -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_diaPASEF.py"
name = "DIA Quant Precursor Level - diaPASEF -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_singlecell.py"
name = "DIA Quant Precursor Level - Single Cell (Astral) -BETA-"

[[pages]]
path = pages/module_pages/quant_lfq_DIA_ion_plasma.py
name = "DIA Quant Precursor Level - Plasma background -BETA-"

[[pages]]
path = "pages/module_pages/quant_lfq_DIA_ion_ZenoTOF.py"
name = "DIA Quant Precursor Level - ZenoTOF -ALPHA-"