[[pages]]
path = "Home.py"
name = "Home"

[[pages]]
path = "pages/2_Quant_LFQ_DDA_ion_QExactive.py"
name = "DDA Quant Precursor Level (Q Exactive) – BETA"

[[pages]]
path = "pages/3_Quant_LFQ_DIA_ion_AIF.py"
name = "DIA Quant Precursor Level – AIF – BETA"

[[pages]]
path = "pages/4_Quant_LFQ_DIA_ion_diaPASEF.py"
name = "DIA Quant Precursor Level – diaPASEF – BETA"

[[pages]]
path = "pages/5_Quant_LFQ_DDA_peptidoform.py"
name = "DDA Quant Peptidoform Level – BETA"

[[pages]]
path = "pages/6_QuantLFQ_DIA_ion_Astral.py"
name = "DIA Quant Precursor Level - Astral"

[[pages]]
path = "pages/7_DeNovo_LFQ_DDA_HCD.py"
name = "De Novo – DDA HCD – ALPHA"

[[pages]]
path = "pages/8_Quant_LFQ_DDA_ion_Astral.py"
name = "DDA Quant Precursor Level - Astral"

[[pages]]
path = "pages/9_Quant_LFQ_DIA_ion_singlecell.py"
name = "DIA Quant Precursor Level – Single Cell (Astral) – BETA"

[[pages]]
path = "pages/10_Quant_LFQ_DIA_ion_ZenoTOF.py"
name = "DIA Quant Precursor Level – ZenoTOF – ALPHA"
